extends layout
block content
        h1(style='color:red') #{title}
        p #{body}
        div
            form(action="login", method="POST")
                input(type='text', name='first_name', placeholder='First Name')
                input(type='text', name='last_name', placeholder='Last Name')
                input(type='email', name='login', placeholder='Email')
                input(type='password', name='password', placeholder='New Password')
                input(type='submit', value='REGISTER')
       //form(action="login", method="POST")
            input(name='name', placeholder='name')
            input(name='surname', placeholder='surname')
            button button