doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        link(rel='stylesheet', type='text/css', href='Form5.css')
        title Register
    body
        block content
    br
    hr
    p Copyright &copy; 2017

