extends layout
block content
    h1(style='color:red') #{title}
    p #{body}
    div
        form(action="login", method="POST")
            input(type="text" name='login', placeholder='login')
            input(type="password" name='password', placeholder='password')
            input(type='submit', value='LOGIN')